/* shared style  */
* {
    margin: 0px;
    padding: 0px;
}


/* header styles */


.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
    height: 500px;
    margin: 50px 140px;
    border-radius: 16px;
}
.banner-text{
    padding-top: 150px;


}
.banner-subtitle {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}


/* offer styles */

.offer-section {
    margin: 70px 400px;
}

.offer-sixty-five {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    font-family: Inter;
}

.offer-part-subtitle {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}

.offer-part-title {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}

.offer-part-img {
    max-width: 800px;
    max-height: 500px;
}


/* party styles  */
.party-part {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Vectorrr.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
   margin-left: 120px;
   margin-right: 120px;
    border-radius: 16px;
}

.party-section-container {
    display: flex;
    gap: 10px;
}

.party-section-item {
    padding: 120px 120px;
}

.party-section-title {

    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
}

.party-section-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.party-section-btn {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: 0px;
    margin-top: 50px;
}

.party-section-image {
    padding-top: 75px;
    padding-bottom: 65px;
    padding-right: 145px;
}


/* join now styles  */
.join-now-section {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
    margin: 70px 140px;
    border-radius: 16px;
    padding: 100px 385px;
}

.join-now-section-details {
    text-align: center;
}

.join-now-description {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.join-now-span {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.join-now-section-btn {
    padding: 12px 25px;
    margin-top: 64px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}



/* Coming soon styles */

.coming-soon-section {
    margin: 50px 140px;
}

.coming-soon-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    gap: 10px;
}

.coming-soon-item {
    width: 31%;
    margin: 15px;
}
.coming-soon-item-right{
    float: right;
    width: 31%;
    margin: 15px;
    padding-left: 60px;

}

.coming-soon-item-subtitle {
    color: #F00;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.coming-soon-item-title {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 900;
}

.coming-soon-item-description {
    margin-top: 22px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.coming-soon-item-img-container {
    max-width: 330px;
}

.coming-soon-friend-img {
    width: 330px;
    padding: 10px;
    border: 7px solid red;
    border-radius: 100%;
}

.coming-soon-item-year {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    font-weight: 700;
}

.coming-soon-item-happy-img {
    margin-top: 45px;
}

/* holiday sale styles  */
.holiday-sale {
    text-align: center;
    margin: 70px 140px;
}

.holiday-sale-subtitle {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.holiday-sale-title {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}

.holiday-sale span {
    color: #F00;
}

.holiday-sale-description {
    margin-top: 30px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.holiday-sale-image-container {
    background-image: url(../images/Rectangle\ 2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 30%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.img1 {
    width: 400px;
    margin-left: 150px;

}

.img2 {
    width: 300px;
    height: 300px;
    z-index: 10;
    margin-left: 50px;
}

.img3 {
    width: 300px;
    
}


/* Best Gift Styles */

.best-gift {
    margin: 50px 140px;
    text-align: left;
}

.best-gift-subtitle {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.best-gift-title {
    margin-top: 16px;
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
}

.best-gift-description {
    margin-top: 22px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.best-gift-image-container {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.best-gift-image {
    width: 32%;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 16px;
}

.best-gift-image img {
    width: 100%;
}

.best-gift-image :hover {
    box-shadow: 5px 5px 8px 8px #427E93;
}


/* subscribe styles */
.subscribe {
    margin: 70px 140px;
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
}

.subscribe-icon {
    margin-top: 80px;
}

.subscribe-title {
    margin-top: 40px;
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
}

.subscribe-description {
    margin-top: 22px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.subscribe-form {
    margin-top: 48px;
}

.subscribe-form input[type="email"] {
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: 0px;
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 24px 56px;
}

.subscribe-form input[type="submit"] {
    background: #F00;
    border-radius: 0px 50px 50px 0px;
    border: 0px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 24px 56px;
}


/* footer styles */

footer{
    background-color: #070211;;
    max-width: 1600px;
}

.footer-heading-part, .footer-footer-part{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 70px 140px;
}

.footer-icon-part{
    text-align: center;
}

.footer-icon{
    margin: 50px 20px;
}

hr{
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}

.line{
    margin: 50px 140px;
}